/* CSS Reset */
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

/* IBM Plex from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500|IBM+Plex+Sans:400,500');

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background: #282830;
    color: #383840;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

a, a:active, a:visited {
    color: #0080ff;
}

::selection {
    background: #80b8ff;
}

.app-bar {
    display: grid;
    background: #282830;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    grid: 3rem / 321px auto;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.title {
    background: #282830;
    padding: 0 2rem;
}

.logotype {
    margin-top: 14px;
    width: 112px;
}

.address-bar {
    display: flex;
}

.address-input {
    background: #484850;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    padding-left: 2rem;
    width: 100%;
}

.address-input:focus {
    box-shadow: inset 0 4px 8px rgba(0,0,0,.25);
    outline: 2px solid rgba(255,255,255,.25);
}

.button.submit { 
    background: #0080ff;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 2rem;
}

.button.submit:focus {
    outline: 2px solid #80b8ff;
    outline-offset: -2px;
}

.button.submit:hover {
    background: #54a0ff;
    cursor: pointer;
}

.sidebar {
    background: #f6f6f8;
    border-right: 1px solid #e6e6e8;
    box-shadow: 2px 0 4px rgba(0,0,0,.25);
    height: 100%;
    overflow: auto;
    padding: 3rem 2rem 2rem;
    position: fixed;
    width: 321px;
}

.about {
    margin-top: 2.5rem;
}

.about section {
    margin-top: 1.5rem;
}

.about h2, .chart-empty h2 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin-top: .5rem;
}

.about h3 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: .5rem;
}

.about p, .chart-empty p {
    line-height: 1.5rem;
    margin-top: .5rem;
}

.about small {
    display: block;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-top: .25rem;
}

.instructions li {
    counter-increment: count;
    font-size: .875rem;
    line-height: 1.5rem;
    margin-top: .5rem;
    padding-left: 1.5rem;
    position: relative;
}

.instructions li::before {
    border: 1px solid #383840;
    border-radius: 1px;
    content: counter(count);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    height: 1rem;
    left: 0;
    line-height: .875rem;
    position: absolute;
    text-align: center;
    top: .3125rem;
    width: 1rem;
}

.snippet {
    background: #e6e6e8;
    border-radius: 2px;
    color: #484850;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-top: .5em;
    overflow: auto;
    padding: .4375rem;
}

.charts {
    margin-left: 320px;
    padding: 5.25rem 2rem 0;
}

.chart-area {
    margin-bottom: 2.25rem;
}

.chart-header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.chart-title {
    color: white;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.chart-subtitle {
    color: rgba(255,255,255,.5);
}

.chart-container {
    position: relative;
}

.chart-empty {
    align-items: center;
    background: white;
    border: 1px solid #e6e6e8;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: .65;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.chart-empty h2 {
    color: #0080ff;
    margin-top: 0;
}

.chart-empty p {
    /* margin-top: 0; */
}

.highcharts-container {
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.loading-message {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.loading-message p {
    margin-top: .25rem;
}

/* Breakpoint: 1024px */